*{
    margin: 0;
    box-sizing: border-box;
}

body{
    place-items: center;
    display: grid;
    min-height: 100vh;
    font-size: 40px;
    color: rgb(12, 132, 161);
    background: rgb(7, 84, 134);
}

p{
    font-size: 100px;
}
section{
    text-align: center;
    background:rgba(104, 18, 216, 0.1);
    padding: 5px;
    border-radius: 100px;
}
